@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
    background-color: #f9fafb;
    font-family: Outfit;
}


a.active hr{
    display: block;
}
